.background {
    background-image: url('resourses/world.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.header {
    font-family: 'Handlee', cursive;
    text-align: center;
    background-color: transparent;
}
.flex-container {
    position: center;
    display: flex;
    width: 550px;
    height: 550px;
    text-align: center;
    position: relative;
    left: 30%;
    flex-wrap: wrap;
}
.flex-elem {
    font-family: 'Handlee', cursive;
    font-size: 30px;
    width: 140px;
    height: 140px;
    background-color: rgba(255,203,219,0.9);
    padding: 15px;
    margin: auto;
    border-radius: 15px;
}